.grid-container {
  margin: 2em 0;
  overflow-x: auto;
  overflow-y: hidden;
}

.grid-container table {
  min-width: 100%;
  /* border-collapse: collapse; */
}

.grid-container th {
  font-weight: bold;
  font-size: 1em;
  color: #2da8d8;
  background-color: #2a2b2d;
}

.grid-container td {
  font-size: 1em;
  color: #2a2b2d;
}

.grid-container td,
.grid-container th {
  padding-bottom: 2%;
  padding-top: 2%;
}

/* Background-color of the odd rows */
.grid-container tr:nth-child(odd) {
  background-color: #eee;
}

/* Background-color of the even rows */
.grid-container tr:nth-child(even) {
  background-color: #ddd;
}

.grid-container tr:hover {
  background-color: #ec96a2;
  -webkit-box-shadow: 0 6px 6px -6px #2a2b2d;
  -moz-box-shadow: 0 6px 6px -6px #2a2b2d;
  box-shadow: 0 6px 6px -6px #2a2b2d;
}

.grid-container td {
  transition-delay: 0s;
  transition-duration: 0.4s;
  transition-property: all;
  transition-timing-function: line;
}

.grid-container td:hover {
  background-color: #fb667a;
  color: #fdfdfd;
  cursor: pointer;
  font-weight: bold;

  box-shadow: #e9364e 0 1px, #e9364e 0 2px, #e9364e 0 3px, #e9364e 0 4px,
    #e9364e 0 5px, #e9364e 0 6px;
  transform: translate3d(0, -6px, 0);
}

.grid-container td:hover::before {
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 6px;
  left: 0;
}

/* section headers */
.grid-container .section-header,
.grid-container .section-header:hover {
  background-color: #2da8d8b0 !important;
  box-shadow: none;
  cursor: row-resize;
  color: #fff;
}

.grid-container tbody:first-of-type {
  box-shadow: 0px 2px 0px 0px lightsalmon;
}

.grid-container tbody {
  box-shadow: 0px 2px 0px 0px #2da8d8b0;
}

.grid-container tbody:only-of-type {
  box-shadow: none;
}

.grid-container tbody:first-of-type::before {
  height: 4px;
}

.grid-container tbody::before {
  content: '';
  display: block;
  height: 7px;
}

.grid-container tbody.body-collapsed {
  box-shadow: 0px 4px 0px 0px #d82d58b0;
}

.grid-container tbody.body-collapsed .section-header {
  background-color: darkgrey !important;
  color: #333 !important;
}

.grid-container tbody:first-of-type .section-header {
  background-color: lightsalmon !important;
}

.grid-container .section-header td {
  color: inherit;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: inherit;
}

.grid-container .section-header td:last-child {
  text-align: right;
  padding-right: 1em;
}

.grid-container .section-header td:hover {
  transform: none;
  background-color: transparent;
  box-shadow: none;
  color: inherit;
}

.grid-container .section-header td:hover:before {
  content: none;
}
