* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fefefe;
}

.App {
  font-family: sans-serif;
  text-align: center;
  max-width: 800px;
  min-width: 360px;
  margin: 50px auto;
  padding: 2em;
}
