.test-files-wrapper {
  margin-bottom: 5em;
}

.test-files {
  display: flex;
  justify-content: space-between;
  padding: 1em 0.4em;
  gap: 1em;
  width: 100%;
  overflow-x: scroll;
}

.test-files article {
  text-align: center;
  outline: 2px solid #ddd;
  border-radius: 6px;
  padding: 1em 0.5em;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  transition: all 0.7s ease;
  user-select: none;
}

.test-files article:hover {
  outline: 3px solid lightskyblue;
  color: lightskyblue;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.4);
}

.test-files article:hover .heading {
  color: darkcyan;
  /* text-shadow: 0px 0px 15px 0px lightblue; */
  text-shadow: 25px -25px 2px lightskyblue;
  color: transparent;
  transition: text-shadow 0.7s ease, color 0s ease 0s;
}

.test-files article:hover .subheading {
  transform: scale(1.5) translateY(-5px);
  color: darkcyan;
}

.test-files .heading {
  font-size: 1.5em;
  color: #aaa;
  margin: 0.5em 0 0.2em;
  text-shadow: 0 0 0 lightskyblue;
  transition: text-shadow 0.7s ease, color 0s ease 0.8s;
}

.test-files .subheading {
  font-size: 0.8em;
  font-weight: bolder;
  margin-bottom: 1.2em;
  transition: transform 0.7s ease;
  transform-origin: bottom;
}

.test-files button {
  cursor: pointer;
  border: 0;
  background-color: transparent;
  text-decoration: underline;
  font-weight: bold;
  opacity: 0.3;
  transition: opacity 0.7s ease;
}

.test-files article:hover button {
  opacity: 1;
}

.test-files button:hover {
  color: lightcoral;
}

.test-files div {
  display: flex;
  gap: 0.5em;
  justify-content: center;
}

/* scrollbar  */
/* width */
.test-files::-webkit-scrollbar {
  height: 6px;
}

.test-files {
  scrollbar-width: thin;
}

/* Track */
.test-files::-webkit-scrollbar-track {
  background: #f1f1f1;
  background: transparent;
}

/* Handle */
.test-files::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.test-files::-webkit-scrollbar-thumb:hover {
  background: #555;
}
